.sidenav-container {
  height: 100%;
  background-color:white;
  position: relative;
}

.sidenav {
  width: 300px;
}

.sidenav .mat-toolbar {
  background: initial;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: black
}
