<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport=f alse [mode]="push">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>

            <a mat-list-item routerLink="/cadastro-cliente" (click)="drawer.toggle()">Cadastro de Cliente</a>
            <a mat-list-item routerLink="/cadastro-cliente" (click)="drawer.toggle()">Cadastro de Fornecedor</a>
            <!-- <a mat-list-item href="../header/header.component.html">Solicitação de Financiamento</a>
      <a mat-list-item href="#">Garantia de Financiamento</a> -->
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
            <span>spa-mileto</span>
        </mat-toolbar>
        <!-- Add Content Here -->
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>