<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button> -->
<div class="container">
    <mat-horizontal-stepper>
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Responsável</ng-template>
                <mat-form-field class='field'>
                    <input matInput placeholder="E-mail de contato (será confirmado)" formControlName="firstCtrl" required>
                </mat-form-field>
                <p></p>
                <div class="col-2-value">
                    <mat-form-field>
                        <input matInput placeholder="Nome" formControlName="teste1" required>
                    </mat-form-field>
                </div>
                <div class="col-2-value">
                    <mat-form-field>
                        <input matInput placeholder="CPF" formControlName="teste1" required>
                    </mat-form-field>
                </div>
                <p></p>
                <div class="col-2-value">
                    <mat-form-field>
                        <input matInput placeholder="Cargo" formControlName="teste1" required>
                    </mat-form-field>
                </div>
                <div class="col-2-value">
                    <mat-form-field>
                        <input matInput placeholder="Telefone" formControlName="teste1" required>
                    </mat-form-field>
                </div>
                <mat-card class="col-6-custom mt-40">
                    <input matInput placeholder="Empresa/Instituição do Responsável">
                    <div class="col-2-custom">
                        <mat-form-field class="field">
                            <input matInput placeholder="Origem" autocomplete="off" formControlName="origem">
                        </mat-form-field>
                    </div>

                    <div class="col-3-custom">
                        <mat-form-field class="field">
                            <input matInput placeholder="Cidade" autocomplete="off" formControlName="cidade">
                        </mat-form-field>
                    </div>

                </mat-card>
                <mat-card class="col-6-custom mt-40">
                    <input matInput placeholder="Contato Alternativo">
                    <div class="col-2-custom">
                        <mat-form-field class="field">
                            <input matInput placeholder="Nome" autocomplete="off" formControlName="origem">
                        </mat-form-field>
                    </div>

                    <div class="col-3-custom">
                        <mat-form-field class="field">
                            <input matInput placeholder="Cargo" autocomplete="off" formControlName="cidade">
                        </mat-form-field>
                    </div>

                </mat-card>
                <div class="col-2-value">
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Motivo de Envio</ng-template>
                <mat-form-field>
                    <input matInput placeholder="Address" formControlName="secondCtrl" required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Empresa Nacional</ng-template>
                <mat-form-field>
                    <input matInput placeholder="Address" formControlName="secondCtrl" required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Empresa Estrangeira</ng-template>
                <mat-form-field>
                    <input matInput placeholder="Address" formControlName="secondCtrl" required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Demonstração Financeira</ng-template>
                <mat-form-field>
                    <input matInput placeholder="Address" formControlName="secondCtrl" required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Outros Anexos</ng-template>
                <mat-form-field>
                    <input matInput placeholder="Address" formControlName="secondCtrl" required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Resumo</ng-template>
                <mat-form-field>
                    <input matInput placeholder="Address" formControlName="secondCtrl" required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Visão Geral</ng-template>
            You are now done.
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>